# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environments
# =========================
venv/
.env

# =========================
# RAG Data (DO NOT COMMIT)
# =========================
data/uploads/
data/vector_store/

# =========================
# FAISS / Index files
# =========================
*.faiss
*.index

# =========================
# Logs / Temp
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
